# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# Installer logs
pip-log.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test/report artifacts
htmlcov/
*.cover
coverage.xml

# macOS junk
.DS_Store
